<state-dev-page>
	<h1>dev</h1>
	<script>
		this.on('mount', function(){
			console.log('time to develop')
		})
	</script>
</state-dev-page>


<state-error-notfound>
	<h1>404</h1>
</state-error-notfound>

<state-home>
	<h1>Home</h1>
</state-home>